body{
    background-color: black;
}
.content{
    position: absolute;
    left: 45%;
    right: 45%;
    top: 45%;
    bottom: 45%;
}
.row{
    display: block;
}
.box{
    display: inline-block;
    margin: 5px;
    border: white 1px solid;
    width: 30px;
    height: 30px;
    background-color: blue;
}
.box:hover{
    background-color: rgb(0, 0, 59);
}